body {
    background-color: #292424;
    color: #F5F5F5;
    font-family: "Cinzel", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 30px;
    font-size: 20px;
}

button {
    background-color: #c0c0c0;
    color: #0d0907;
    font-family: "Cinzel Decorative", serif;
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 100%;
}
 {
    max-width: 70%;
}

Miguel Isaac V. Gomes-2C 27/08/2024
img
